@media(max-width:360px) {
    .mobile-nav1 {

        font-size: 12px;
        font-weight: 600;

    }

    .navbar {
        padding: 0;
        padding-bottom: 10px;
    }

    .navbar > img {
        padding: 5px;
        margin-top: 3px;
    }

    .nav-link {
        padding-right: 1.9em !important;
    }

    .navbar-brand {
        margin-right: 0;
    }

    #home-bg-video {
        /*    margin: 0 auto;*/
        /*
    margin-: auto;
    margin-left: auto;
*/
        width: 100%;
        height: 100%;
    }

    .home-video {
        margin-bottom: 3rem;
    }

    .carouselsection {
        margin-bottom: 3rem;
    }

    .mtc {
        margin-top: 2rem;
    }

    .row h1,
    h3 {
        font-size: 32px;
    }

    .row h2 {
        font-size: 20px;
    }

    .ml-5 {
        margin-left: 0 !important;
    }

    .cus-flip {
        margin: 0;
    }

    .cus-img,
    .flip-box-inner,
    .flip-box-back {
        width: 60%;
        height: 60%;
        margin-left: 4rem;
    }

    .flip-box-back {
        padding-bottom: 12rem !important;
        font-size: 16px;
    }

    .lh-cus {
        font-size: 10px;
    }

    .flip-box-front {
        background: none;
    }

    #about {
        margin-bottom: 0;
    }

    #contact-us {
        margin-top: 0;
    }
}
